/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.singleLine
{
    display: block;
    width:100%;
}

.text-centeralign
{
    text-align: center;
}

.text-italic
{
    font-style: italic;
}

.halfWidth
{
    width:50%;
}